absl-py==0.7.0
astor==0.7.1
astroid==2.1.0
certifi==2018.11.29
chardet==3.0.4
coverage==4.5.2
decorator==4.3.2
future==0.17.1
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
hyperopt==0.1.1
idna==2.8
isort==4.3.4
json-tricks==3.12.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
lazy-object-proxy==1.3.1
Markdown==3.0.1
mccabe==0.6.1
networkx==2.2
nni==0.5.1
nni-sdk==0.5.1
numpy==1.16.1
protobuf==3.6.1
psutil==5.6.6
PyHDFS==0.2.1
pylint==2.2.2
pymongo==3.7.2
PyYAML==3.13
requests==2.21.0
schema==0.6.8
scipy==1.2.1
simplejson==3.16.0
six==1.12.0
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
typed-ast==1.3.1
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.11.1
